

[root@gerrit etc]# cat gerrit.config
[gerrit]
        basePath = git
        serverId = 36edf541-f233-400a-909e-1c2273618a25
        #canonicalWebUrl = http://192.168.100.30:8082/
        canonicalWebUrl = http://gerrit.nextvpu.com/
[database]
        type = mysql
        hostname = localhost
        database = gerritdb
        username = gerrituser
[noteDb "changes"]
        disableReviewDb = true
        primaryStorage = note db
        read = true
        sequence = true
        write = true
[container]
        javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
        javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
        user = root
        javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.191.b12-1.el7_6.x86_64/jre
[index]
        type = LUCENE
[auth]
        type = HTTP
#        logoutUrl = http://aa:aa@192.168.100.30:8082
[receive]
        enableSignedPush = false
[sendemail]
        #smtpServer = smtp.nextvpu.com
        smtpServer = smtp.qiye.aliyun.com
        smtpServerPort = 25
        smtpUser = gerrit@nextvpu.com
        from = CodeReview<gerrit@nextvpu.com>
[sshd]
        listenAddress = *:29418
        maxConnectionsPerUser = 0
        batchThreads = 64
        threads = 128
[httpd]
        listenUrl = proxy-http://*:8082/
[cache]
        directory = cache
[gitweb]
        cgi = /var/www/git/gitweb.cgi
        type = gitweb
[commentlink "its-jira"]
        match = ([A-Z]+-[0-9]+)
        html = <a href=\"http://support.nextvpu.com/browse/$1\">$1</a>
        association = SUGGESTED
[its-jira]
        url = http://support.nextvpu.com
        username = gerritadmin
        commentOnRefUpdatedGitWeb = false # to comment gitweb comments on jira
[plugin "its-jira"]
        association = SUGGESTED
[change]
        allowDrafts = true
        submitWholeTopic = true
[hooks]
        path = /home/gerrit/gerrit/review_site/hooks
        # commitReceivedHook = commit-received
[plugins]
        allowRemoteAdmin = true
[root@gerrit etc]# ls


========+++++++++++++====================== secure.config  ====================================
[root@gerrit etc]# cat secure.config
[database]
        password = nextvpu2018
[auth]
        registerEmailPrivateKey = qmeSvuSxY9QMjEng92joh3PoLDMCzuNF1tM=
[sendemail]
        smtpPass = Mail12345678
[its-jira]
        password = 12345678
[root@gerrit etc]#

